.wrapper {
    position: absolute;
    top: 550px;
    left: 450px;
}


.Add_post {
    display: block;
    position: relative;
    left: 80px;


}


.Add_post button {
    background-color: chocolate;
    border-radius: 20%;
    padding: 5px;
    margin-left: 10px;
    display: block;
    position: relative;
    left: 300px;
    top: -50px;
}

